[Desktop Entry]
Icon=folder
Name=Software of JideTech POE IP Camera
Type=Link
URL[$e]=file:$HOME/Desktop/Software of JideTech POE IP Camera
X-KDE-LastOpenedWith=org.gnome.nautilus
